@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

 * {
     box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex, 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    /*opacity making it invisible until "active" kicks in*/
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3 easy-in 0.4;
}

@media(max-width: 480px) {
    /*any styles i put in here are only gonna take effect if
    the screen is under 480px*/
        .container {
            width: 100vw;
        }

        /*to remove the last 2 panels in this case we use the pseudo selector
        :nth-of-type() to select the 2 last panels and applying display: none*/

        .panel:nth-of-type(4),
        .panel:nth-of-type(5) {
            display: none;

        }

    }
    
}